<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../public/style_sheets/alert.css">
</head>

<body>
   
    <div class="alert-container">
        
        <div class="alert-wrapper">
            
            <div class="warning-alert alert-boxes">
                <i class="fa-solid fa-exclamation alert-icon"></i>
                <span class="alert-description">Warning alert: You are not authorized in client's dashboard </span>
            </div>

            <div class="success-alert alert-boxes">
                <i class="fa-solid fa-check alert-icon"></i>
                <span class="alert-description">Success alert: Sucessfully logged in!</span>
                <i class="fa-solid fa-xmark alert-close-icon"></i>

            </div>

            <div class="danger-alert alert-boxes">
                <i class="fa-solid fa-triangle-exclamation alert-icon"></i>
                <span class="alert-description">Danger alert: Too many login attempts </span>
            </div>

            <div class="info-alert alert-boxes">
                <i class="fa-solid fa-info alert-icon"></i>
                <span class="alert-description">Info alert: Client has approved your leave </span>
            </div>

        </div>
    
    </div>


</body>

</html>