<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leave Tracking System</title>
    <link rel="stylesheet" href="../style_sheets/home.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div>
        <div class="main-container">
            <div class="left-container">
                <nav>
                    <h1 id="main-logo"><span>e</span>coB<span>ee</span>s</h1>
                    <ul id="nav-ul ">
                        <li class="active">
                            <a href="./home.html" class="nav-links"><i class="fa-solid fa-house nav-icon"></i>Home</a>
                        </li>
                        <li>
                            <a href="./profile.html" class="nav-links"><i
                                    class="fa-regular fa-user nav-icon"></i>Profile</a>
                        </li>
                        <li>
                            <a href="./leave.html" class="nav-links"><i
                                    class="fa-solid fa-right-from-bracket nav-icon"></i>Apply
                                for Leave</a>
                        </li>
                        <li>
                            <a href="#" class="nav-links"><i class="fa-solid fa-clock-rotate-left nav-icon"></i>Leave
                                History</a>
                        </li>
                    </ul>
                </nav>
                <div class="logout-button-container">
                    <a href="#" class="logout-button"><i class="fa-solid fa-arrow-right-from-bracket nav-icon"
                            style="rotate: 180deg"></i>Logout</a>
                </div>
            </div>
            <div class="right-container">
                <div class="welcome">
                    <div class="welcome-dashboard">
                        <p>
                            Welcome to <span id="welcome-worker">Worker's</span> Dashboard
                        </p>
                    </div>
                    <div class="welcome-right">
                        <p><span> Ishan Ghimire! </span></p>
                        <p class="worker-id">Worker ID: <span>4483 </span></p>
                    </div>
                </div>
                <div class="dashboard-content">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores
                        perspiciatis magni sequi consequuntur eaque quidem, error
                        molestias vel exercitationem, distinctio voluptate repellat
                        facilis enim eius veritatis qui nemo animi minus!
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>