<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leave Tracking System</title>
    <link rel="stylesheet" href="../../style_sheets/leave.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <div>
      <div class="main-container">
        <div class="left-container">
          <nav>
            <h1 id="main-logo"><span>e</span>coB<span>ee</span>s</h1>
            <ul id="nav-ul ">
              <li>
                <a href="/home" class="nav-links"
                  ><i class="fa-solid fa-house nav-icon"></i>Home</a
                >
              </li>
              <li>
                <a href="#" class="nav-links"
                  ><i class="fa-regular fa-user nav-icon"></i>Profile</a
                >
              </li>
              <li class="active">
                <a href="/leave" class="nav-links"
                  ><i class="fa-solid fa-right-from-bracket nav-icon"></i>Apply
                  for Leave</a
                >
              </li>
              <li>
                <a href="#" class="nav-links"
                  ><i class="fa-solid fa-clock-rotate-left nav-icon"></i>Leave
                  History</a
                >
              </li>
            </ul>
          </nav>
          <div class="logout-button-container">
            <a href="#" class="logout-button"
              ><i
                class="fa-solid fa-arrow-right-from-bracket nav-icon"
                style="rotate: 180deg"
              ></i
              >Logout</a
            >
          </div>
        </div>
        <div class="right-container">
          <div class="welcome">
            <div class="welcome-dashboard">
              <p>
                Welcome to <span id="welcome-worker">Worker's</span> Dashboard
              </p>
            </div>
            <div class="welcome-right">
              <p><span> Ishan Ghimire! </span></p>
              <p class="worker-id">Worker ID: <span>4483 </span></p>
            </div>
          </div>
          <div class="dashboard-content">
            <form class="form-container">
              <div class="form-field">
                <label for="name"> Employee Name <span>*</span> </label>
                <input type="text" />
              </div>
              <div class="form-field">
                <label for="Employee ID"> Employee ID <span>*</span> </label>
                <input type="text" />
              </div>

              <div class="form-field">
                <label for="start-date"> Start Date <span>*</span> </label>
                <input type="date" />
              </div>

              <div class="form-field">
                <label for="end-date"> End Date <span>*</span> </label>
                <input type="date" />
              </div>

              <div class="form-field">
                <label for="leave-type"> Type of leave<span>*</span> </label
                ><select name="type-of-leave" id="">
                  <option value="sick">Sick</option>
                  <option value="vacation">Vacation</option>
                  <option value="unpaid">Unpaid</option>
                  <option value="urgent">Urgent</option>
                </select>
              </div>

              <div class="form-field">
                <label for="days-number"
                  >No. of days leaves required<span>*</span> </label
                ><input type="text" />
              </div>

              <div id="reason-box">
                <label for="reason">Reason for leave <span>*</span></label>
                <textarea rows="4"></textarea>
              </div>

              <div class="form-buttons">
                <button class="form-button-reset">
                  <a href="#">Reset</a>
                </button>
                <button class="form-button-apply">
                  <a href="#">Apply</a>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
