@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');




// ---------font---------------------------

$global-font-family: 'Open Sans', sans-serif;



//----------------colors--------------------------------
//from client dashboard

$primary-yellow: #FDB514;       //yellow color in logo

$body-bg: #DBE8F4;       //main body bg
$dark-bg: #3C4048;       //left container in client dashboard
$light-bg: #F3F5F7;      //rignt container in client dashboard 
$grey-bg: #EDEEF0;      // top panel bg in client dashboard         &&     box background in leave info
$blue-bg: #3C79F5;      // total workers bg in client dashboard
$red-bg:#FF0032;        // workers in leave bg in client dashboard
$green-bg: #03C988;     //active workers bg in client dashboard 





// -----------box-shadow--------------------

$primary-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;