@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

// ---------font---------------------------

$global-font-family: "Open Sans", sans-serif;
$logo-font-family: "Poppins", sans-serif;

//----------------colors--------------------------------
//from client dashboard

$primary-yellow: #fdb514; //yellow color in logo

$body-bg: #dbe8f4; //main body bg
$dark-bg: #3c4048; //left container in client dashboard
$light-bg: #f3f5f7; //rignt container in client dashboard
$grey-bg: #edeef0; // top panel bg in client dashboard         &&     box background in leave info
$blue-bg: #3c79f5; // total workers bg in client dashboard
$red-bg: #ff0032; // workers in leave bg in client dashboard
$green-bg: #03c988; //active workers bg in client dashboard
$orange-bg: #f99417; //pending status
$separator: rgba(182, 174, 174, 0.096);

// -----------box-shadow--------------------

$primary-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

// -----------separator line--------------------
$line: 0.125rem solid #d9d9d9;
