@import "./client_primary";

@import url("/style_sheets/confirm.css");

a {
  color: black;
  text-decoration: none;
}

/* ------------------------------------------ leave requests overview on homepage ----------------------------------- */
.dashboard-heading {
  font-weight: 500;
  margin-bottom: 2rem;
}

.dashboard-head-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.2rem;

  i {
    font-size: large;
  }

  .dashboard-searchsection {
    .dashboard-search {
      font-size: 1rem;
      border: none;
      padding: 0.6rem 1rem;
      border-radius: 0.3rem;
      background-color: $light-bg;
      color: rgb(22, 22, 22);
      text-transform: capitalize;

      &:focus {
        outline-color: rgb(173, 173, 173);
      }
    }

    .search-button {
      margin-left: 0.5rem;
      padding: 0 1rem;
      background-color: $blue-bg;
      color: white;
      font-size: 1rem;
      border-radius: 0.3rem;

      &:hover {
        cursor: pointer;
        background-color: #336de0;
      }
    }
  }

  .dashboard-filtersection {
    position: relative;
    margin-right: 3rem;
    .filter-button {
      padding: 0 1.2rem;
      font-size: 1rem;
      display: flex;
      align-items: center;
      gap: 0.6rem;
      border-radius: 0.3rem;

      &:hover {
        cursor: pointer;
        background-color: rgb(230, 230, 230);
      }
    }
  }

  .dashboard-buttons {
    background-color: $light-bg;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    line-height: 2.7rem;
    border: none;
  }

  .filter-icon {
    margin-left: 1rem;
  }

  .search-icon {
    margin-right: 0.5rem;
  }
}

/* ------------------------------------------ active leave overview on homepage ----------------------------------- */

.homepage-workers-leave {
  margin: 2rem 0;
}

.manage-workers-leave {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
  position: relative;
}

.worker-details {
  background-color: #f3f5f7;
  padding: 0.8rem;
  border-radius: 0.5rem;
  padding-right: 1rem;
}

.worker-name {
  font-weight: 600;
  margin-left: 0.5rem;
  text-transform: capitalize;
}

.topsection {
  display: flex;
  justify-content: space-between;

  .fa-ellipsis {
    font-size: 1.4rem;
  }
}

.worker-id {
  margin: 0.8rem 0;
}

.worker-gender-delete {
  display: flex;
  justify-content: space-between;

  .gender {
    font-size: 1.2rem;
    text-transform: capitalize;
  }

  .worker-delete-button {
    width: 10%;
    font-size: 1.1rem;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 0.5rem;
    background-color: #ff0032;
    &:hover {
      cursor: pointer;
      background-color: #df032f;
    }
  }
}

.user-icon {
  background-color: #3c79f5;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 0.2rem;
}

.main-body-overflow {
  overflow-y: hidden;
}

.empty-workers {
  opacity: 0.5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


//  filter 

.filter-container {
  background-color: $grey-bg;
  position: absolute;
  width: 15em;
  padding:1rem 0.5rem;
  text-align: center;
  left: -4rem;
  margin-top: 1rem;
  display: none;
  z-index: 10;
}


.name-container {
  border-bottom: 1px solid rgb(192, 188, 188);
}

.filter-title {
  padding: 0.5rem 0.3rem;
  margin: 0 1rem;
  display: inline-block;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.active-filter-title {
  color: $blue-bg;
  border-bottom: 3px solid $blue-bg;
}

.filter-buttons {
  width: 100%;
  cursor: pointer;
  margin: 1rem 0;
  border: none;
  font-size: 1rem;
  text-align: center;
}

.filter-container-active{
  display: block;
} 

.close-filter {
  color: black !important;
}

.details-icon {
  cursor: pointer;
  font-size: 1.3rem !important;
  color: $dark-bg;
}

.active-option{
  color: $orange-bg;
  font-weight: 600;
}

//  worker details pop up 

.more-worker-details{
  width: 100dvw;
  background: linear-gradient(rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.4) 50%);
  min-height: 100dvh;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  position: fixed;
  color:black;
  z-index: 20;
}

.absolute-worker-details{
  width: 30%;
  padding: 2rem;
  text-align: center;
  background-color: $light-bg;
  border-radius: 1rem;

} 

.details-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $separator;
  padding:1.2rem 0;
  align-items: center;
}

.details-active {
  display: flex;
}

.close-icon-container {
  text-align: right;
  margin-bottom: 1rem;
}

.details-close-icon {
  color: #7d90a5 !important;
  font-size: 1.3rem;
  cursor: pointer;
  &:hover{
    color: #ff0033 !important;
  }

}

.capitalize-field {
  text-transform: capitalize;
}

.detail-title {
  font-weight: 600;
}
