@import "./client_primary";
:root {
  --hover-green: #03b67a;
  --hover-red: #df032f;
}
/* ------------------------------------------ leave requests overview on homepage ----------------------------------- */

.manage-leaves-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  h2 {
    font-weight: 500;
  }

  .filter-leaveRequests {
    background-color: $light-bg;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      cursor: pointer;
      background-color: rgb(230, 230, 230);
    }
  }
}

.pending-leave-container {
  margin-top: 1.2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  row-gap: 2rem;

  .pending-leave-details {
    background-color: $light-bg;
    padding: 0.8rem;
    border-radius: 0.5rem;

    .pending-leave-name {
      text-transform: capitalize;
      font-weight: 600;
      margin-left: 0.5rem;
    }

    .pending-leave-type-status,
    .pending-leave-date {
      display: flex;
      justify-content: space-between;
      margin: 0.8rem 0;

      p {
        align-self: center;
        font-weight: 500;
      }

      span {
        opacity: 0.6;
      }
    }

    .pending-leave-type-status {
      margin-top: 1.1rem;
    }

    .description {
      margin: 0.7rem 0;
      h1 {
        display: inline-block;
        color: black;
        font-size: 1rem;
        font-weight: 600;
      }
      .description-details {
        display: inline-block;
        opacity: 0.6;
        width: 90%;
      }
    }

    .user-icon {
      background-color: $blue-bg;
      color: white;
      font-size: 1rem;
      padding: 0.5rem;
      border-radius: 50%;
      margin-right: 0.2rem;
    }

    .buttons-container {
      width: 50%;
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
    }

    .pending-leave-buttons {
      width: 50%;
      font-size: 1.1rem;
      border-radius: 5px;
      color: white;
      border: none;
      padding: 0.5rem;
    }

    .approve-button {
      background-color: $green-bg;
      &:hover {
        cursor: pointer;
        background-color: var(--hover-green);
      }
    }
    .reject-button {
      background-color: $red-bg;
      &:hover {
        &:hover {
          cursor: pointer;
          background-color: var(--hover-red);
        }
      }
    }
  }
}

.workerid-name-container {
  display: flex;
  justify-content: space-between;
}

.no-leaves {
  font-size: 1.2rem;
  color: $orange-bg;
  font-weight: 600;
}

.fail {
  font-size: 1.2rem;
  color: $red-bg;
  font-weight: 600;
}

// APPROVE / REJECT MODAL
.confirm-container {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.4) 50%);
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  position: fixed;
  backdrop-filter: blur(0.5px);

  .confirm-wrapper {
    min-width: 30%;
    width: fit-content;
    padding: 2rem 5rem;
    text-align: center;
    background-color: white;
    border-radius: 1rem;

    .confirm-icon {
      font-size: 3rem;
      color: $red-bg;
    }

    .warning-title {
      font-size: 1rem;
      font-weight: 500;
      opacity: 0.8;
      margin-top: 1.5rem;
      display: block;
    }

    .warning-about {
      opacity: 0.4;
      margin: 0.5rem 0;
    }

    .confirm {
      padding: 0.7rem;
      cursor: pointer;
      border: none;
      border-radius: 0.3rem;
      color: white;
      font-weight: bold;
      font-size: 1rem;
      opacity: 0.9;
      width: 30%;
    }

    .button-container {
      text-align: right;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    .cancel-button-confirm {
      margin-right: 1rem;
      background-color: white;
      color: $green-bg;
      outline: 1px solid $green-bg;
      font-size: 0.9rem;
    }

    .cancel-button-confirm:hover {
      background-color: #f9f9f9;
      outline: 1px solid var(--hover-green);
      opacity: 1;
    }

    .cancel-button-reject {
      margin-right: 1rem;
      background-color: white;
      color: $red-bg;
      outline: 1px solid $red-bg;
      font-size: 0.9rem;
    }

    .cancel-button-reject:hover {
      background-color: #f9f9f9;
      outline: 1px solid var(--hover-red);
      opacity: 1;
    }

    .approve-button-confirm {
      background-color: $green-bg;
      font-size: 0.9rem;
    }

    .approve-button-confirm:hover {
      background-color: var(--hover-green);
      opacity: 1;
    }

    .reject-button-confirm {
      background-color: $red-bg;
      color: white;
      font-size: 0.9rem;
    }

    .reject-button-confirm:hover {
      background-color: var(--hover-red);
    }

    .leave-detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
      background-color: $light-bg;
      border-radius: 0.5rem;
      padding: 1.5rem;
    }

    .worker-detail {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.4rem;

      .worker-name {
        text-transform: capitalize;
      }
    }

    .user-icon {
      background-color: $blue-bg;
      color: white;
      font-size: 0.8rem;
      padding: 0.5rem;
      border-radius: 50%;
      margin-right: 0.2rem;
      aspect-ratio: 1/1;
    }
  }
}

.load-gif {
  width: 6vw;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  margin: 10rem auto;
  grid-column: 1 / 4;
}

// ------------------- RESPONSIVENESS ------------------------ //

@media only screen and (max-width: 1500px) {
  #leave-approve-button,
  #leave-reject-button {
    padding: 0.4rem;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1260px) {
  .pending-leave-details {
    font-size: 0.9rem;
  }
  .no-leaves {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .pending-leave-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  #leave-approve-button,
  #leave-reject-button {
    padding: 0.5rem;
    font-size: 1rem;
  }
  .pending-leave-details {
    font-size: 1rem;
  }
  .description h1 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 630px) {
  .manage-leaves-header h2 {
    font-size: 1.3rem;
  }
  .filter-leaveRequests option {
    font-size: 0.8rem !important;
    min-height: 1rem;
  }
  .filter-leaveRequests {
    font-size: 0.8rem !important;
    padding: 0.5rem 0.8rem !important;
    overflow: hidden !important;
  }
}

@media only screen and (max-width: 460px) {
  .pending-leave-details {
    font-size: 0.9rem;
  }
  .description h1 {
    font-size: 0.9rem !important;
  }
  #leave-approve-button,
  #leave-reject-button {
    padding: 0.3rem;
    font-size: 0.8rem;
  }
  .manage-leaves-header h2 {
    font-size: 1.2rem;
  }
  .no-leaves {
    font-size: 0.8rem;
  }
  .dashboard-content {
    padding: 1rem 1.2rem;
  }
}

@media only screen and (max-width: 380px) {
  .manage-leaves-header h2 {
    font-size: 1.1rem;
  }
  .pending-leave-details {
    font-size: 0.8rem;
  }
  .description h1 {
    font-size: 0.8rem !important;
  }
}

@media only screen and (max-width: 350px) {
  .manage-leaves-header {
    display: block;
  }
  .filter-leaveRequests {
    margin-top: 0.5rem !important;
    display: inline-block;
    padding: 0.3rem 0.5rem !important;
  }

  .description .description-details {
    width: 80%;
    font-size: 0.7rem;
  }
  #leave-approve-button,
  #leave-reject-button {
    width: fit-content;
  }
}

// ----------- RESPONSIVE CONFIRM ------------------- //

@media only screen and (max-width: 768px) {
  .confirm-wrapper {
    padding: 1rem 2rem !important;
  }
}

@media only screen and (max-width: 545px) {
  .confirm-wrapper {
    font-size: 0.8rem !important;
  }
  .warning-title {
    font-size: 0.8rem !important;
  }
  .cancel-button-confirm,
  .approve-button-confirm {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  #leave-cancel-button,
  #leave-status-button {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 420px) {
  .confirm-wrapper {
    padding: 0.2rem 0.8rem !important;
    width: 90% !important;
  }
}
