@import "./client_primary";

.client-leave-history {
  margin: 0 0 2.2rem 0;
}

.client-leave-history--heading {
  font-weight: 500;
}

/* ------------------------------------------ dropdown and filter ----------------------------------- */

.client-leave-history--options {
  margin: 2rem 0 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-worker {
  background-color: #f3f5f7;
  padding: 0.8rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
  }
}

.filter-workers-leave-history {
  position: relative;

  .filter-button {
    background-color: #f3f5f7;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;

    &:hover {
      cursor: pointer;
      background-color: rgb(230, 230, 230);
    }
  }
}

.filter-icon {
  margin-left: 1rem;
  font-size: 1rem;
}

/* ------------------------------------------ leave history container ----------------------------------- */

.client-leave-history-container {
  margin-top: 1.2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
}

.client-leave-history-details {
  background-color: $light-bg;
  padding: 1rem;
  border-radius: 0.5rem;
}

.client-leave-history-leave-type {
  font-weight: 600;
}

.client-leave-history-leave-date,
.client-leave-history-leave-status {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0 0 0;
}

.client-leave-history-leave-date span {
  opacity: 0.6;
}

/* ------------------------------------------ leave status ----------------------------------- */

.pending-leave {
  color: $orange-bg;
  margin-right: 0.5rem;
}

.approved-leave {
  color: $green-bg;
  margin-right: 0.5rem;
}

.rejected-leave {
  color: $red-bg;
  margin-right: 0.5rem;
}

.loader {
  color: $blue-bg;
  font-weight: 600;
  font-size: 1.1rem;
}

.empty-workers,
.no-past-leaves {
  opacity: 0.6;
  font-size: 1.1rem;
  position: absolute;
}

// Filter

.filter-container {
  background-color: $grey-bg;
  position: absolute;
  width: 15em;
  padding: 1rem 0.5rem;
  text-align: center;
  left: -7.5rem;
  margin-top: 1rem;
  display: none;
  z-index: 10;
}

.filter-container-active {
  display: block;
}

.filter-buttons {
  width: 100%;
  cursor: pointer;
  margin: 1rem 0;
  border: none;
  font-size: 1rem;
  text-align: center;
}

.icon {
  margin-left: 5px;
}

.active-option {
  color: $orange-bg;
  font-weight: 600;
}

.close-filter {
  color: black !important;
}
