@import "./client_primary";

a {
  color: black;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12rem;
}

.dashboard-heading {
  position: relative;
  align-self: flex-start;
  font-weight: 500;
  top: -2rem;
  // margin-bottom: 2rem;
}

.leave-setting-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leave-option-gear {
  font-size: 1.2rem;
  position: relative;
  top: -2rem;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-field {
  background-color: $grey-bg;
  padding: 1.5rem 4rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 45%;
}

.form-labels {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.form-field input {
  border: none;
  padding: 0.6rem;
  border-radius: 0.3rem;
  background-color: white;
  margin-right: 2rem;
  width: 100%;
  font-size: 1rem;
}

select {
  width: 100%;
  background-color: white;
  padding: 0.6rem;
  margin-right: 2rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
}
