@import "./client_primary";

a {
  color: black;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem;
}

.dashboard-heading {
  position: relative;
  align-self: flex-start;
  font-weight: 500;
  top: -2rem;
}

.leave-setting-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leave-option-gear {
  font-size: 1.2rem;
  position: relative;
  top: -2rem;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-field {
  background-color: $grey-bg;
  padding: 1.5rem 4rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  width: 45%;
}

.form-labels {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.form-field input {
  border: none;
  padding: 0.6rem;
  border-radius: 0.3rem;
  background-color: white;
  margin-right: 2rem;
  width: 100%;
  font-size: 1rem;
}

select {
  width: 100%;
  background-color: white;
  padding: 0.6rem;
  margin-right: 2rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
}

.done-button {
  display: none;
  position: relative;
  top: -2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: $green-bg;
  padding: 0.7rem 1rem;
  color: black;
  font-weight: 500;
  font-size: 1rem;
  &:hover {
    background-color: #06b97e;
    cursor: pointer;
  }
}

.leave-success {
  display: none;
  position: absolute;
  min-width: 15%;
  top: 0.5rem;
  right: 0;
  color: rgb(26, 114, 55);
  background-color: rgb(175, 231, 193);
  padding: 1rem;
  border-radius: 0.5rem 0 0 0.5rem;
  font-weight: 500;
  text-align: center;
  border-left: 10px solid rgb(26, 114, 55);

  h4 {
    display: inline-flex;
    font-size: 1.1rem;
    font-weight: 500success-alert;
  }
}

.leave-success i:nth-child(1) {
  background-color: rgb(56, 153, 90);
  padding: 0.5rem;
  color: white;
  border-radius: 50%;
}

@media only screen and (max-width: 1600px) {
  .form-labels {
    font-size: 0.9rem;
  }
  #types-of-leaves,
  #no-of-days {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1330px) {
  .form-field {
    width: 48%;
    padding: 1.5rem 2.5rem;
  }
  .dashboard-content {
    padding: 4rem 2rem;
  }
}

@media only screen and (max-width: 1023px) {
  .form-labels {
    font-size: 1rem;
  }
  #types-of-leaves,
  #no-of-days {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .form-container {
    display: block;
  }

  .form-field {
    width: 70%;
    margin: 0 auto;
  }
  .leave-types {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 510px) {
  .dashboard-content {
    padding: 4rem 1rem;
  }
  .form-field {
    width: 90%;
  }
  .dashboard-heading {
    font-size: 1.4rem;
  }
  .leave-option-gear {
    font-size: 1.1rem;
  }
  .done-button {
    font-size: 0.9rem;
  }
}
