@import "./client_primary";

a {
  color: black;
  text-decoration: none;
}

/* ------------------------------------------ leave requests overview on homepage ----------------------------------- */
.dashboard-heading {
  font-weight: 500;
  margin-bottom: 2rem;
}

.dashboard-head-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: $line;
  padding-bottom: 1.2rem;

  i {
    font-size: large;
  }

  .dashboard-searchsection {
    .dashboard-search {
      font-size: 1rem;
      border: none;
      padding: 0.6rem 1rem;
      border-radius: 0.3rem;
      background-color: $light-bg;
      color: rgb(22, 22, 22);
      text-transform: capitalize;

      &:focus {
        outline-color: rgb(173, 173, 173);
      }
    }

    .search-button {
      margin-left: 0.5rem;
      padding: 0 1rem;
      background-color: $blue-bg;
      color: white;
      font-size: 1rem;
      border-radius: 0.3rem;

      &:hover {
        cursor: pointer;
        background-color: #336de0;
      }
    }
  }

  .dashboard-filtersection {
    .filter-button {
      padding: 0 1.2rem;
      font-size: 1rem;
      display: flex;
      align-items: center;
      gap: 0.6rem;
      border-radius: 0.3rem;

      &:hover {
        cursor: pointer;
        background-color: rgb(230, 230, 230);
      }
    }
  }

  .dashboard-buttons {
    background-color: $light-bg;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    line-height: 2.7rem;
    border: none;
  }

  .filter-icon {
    margin-left: 1rem;
  }

  .search-icon {
    margin-right: 0.5rem;
  }
}

/* ------------------------------------------ active leave overview on homepage ----------------------------------- */

.homepage-workers-leave {
  margin: 2rem 0;
}

.manage-workers-leave {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
}

.worker-details {
  background-color: #f3f5f7;
  padding: 0.8rem;
  border-radius: 0.5rem;
}

.worker-name {
  font-weight: 600;
  margin-left: 0.5rem;
}

.topsection {
  display: flex;
  justify-content: space-between;

  .fa-ellipsis {
    font-size: 2rem;
  }
}

.worker-id {
  margin: 0.8rem 0;
}

.worker-gender-delete {
  display: flex;
  justify-content: space-between;

  .gender {
    font-size: 1.2rem;
  }

  .worker-delete-button {
    width: 30%;
    font-size: 1.1rem;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 0.5rem;
    background-color: #ff0032;
    &:hover {
      cursor: pointer;
      background-color: #df032f;
    }
  }
}

.user-icon {
  background-color: #3c79f5;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 0.2rem;
}
