@import "./client_primary";

.workers-overview {
  display: flex;
  color: white;
  padding: 2rem 0;
  justify-content: space-between;
}

.overview-container {
  width: 30%;
  padding: 1.7rem;
  border-radius: 0.5rem;
  text-align: center;
}

.worker-overview-icon {
  font-size: 2.5rem;
}

.clock_check {
  transform: translateX(0.6rem);
}

.workers-total {
  background-color: #3c79f5;
}

.workers-leave {
  background-color: #ff0032;
}

.workers-active {
  background-color: #03c988;
}

.worker-overview-number {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0.2rem 0;
}

.worker-overview-status {
  font-size: 1.5rem;
  font-weight: 400;
}

/* ------------------------------------------ active leave overview on homepage ----------------------------------- */

.homepage-workers-leave {
  margin: 2rem 0;
}

.active-leave-container {
  position: relative;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
}

.active-leave-details {
  background-color: #f3f5f7;
  padding: 0.8rem;
  border-radius: 0.5rem;
}

.active-leave-name {
  font-weight: 500;
  margin-left: 0.5rem;
}

.workerid-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-leave-date {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0;
}

.active-leave-date span {
  opacity: 0.6;
}

.user-icon {
  background-color: #3c79f5;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 0.2rem;
}

.green {
  color: #03c988;
  margin-right: 0.2rem;
}

.display-none {
  position: absolute;
  color: rgba(128, 128, 128, 0.596);
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 8rem;
}


// ===========responsive====================

@media only screen and (max-width: 1550px) {
  .active-leave-name, .active-leave-date, .display-none, .active-worker-id, .user-icon {
    font-size: 1rem;
  }

}
@media only screen and (max-width: 1350px) {
  .dashboard-content {
    padding: 1rem 2rem;
  }
  .worker-overview-icon {
    font-size: 2rem;
  }
  .worker-overview-number, .worker-overview-status {
    font-size: 1.2rem;
  }
  .active-leave-name, .active-leave-date, .display-none, .active-worker-id, .user-icon {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1130px) {
  .worker-overview-icon {
    font-size: 2rem;
  }
  .worker-overview-number, .worker-overview-status {
    font-size: 1rem;
  }
  .active-leave-container {
    position: relative;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
  }
  .active-leave-name, .active-leave-date, .display-none, .user-icon {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1260px) {
  .active-leave-name, .active-leave-date, .display-none, .active-worker-id, .user-icon {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 700px) {
  .worker-overview-icon {
    font-size: 1.5rem;
  }
  .worker-overview-number, .worker-overview-status {
    font-size: .9rem;
  }
}
@media only screen and (max-width: 650px) {
  .worker-overview-icon {
    font-size: 1.5rem;
  }
  .worker-overview-number, .worker-overview-status {
    font-size: .8rem;
  }

  .workers-overview {
    display: flex;
    flex-wrap: wrap;
  }

}

@media only screen and (max-width: 550px) {
  .overview-container {
    width: 48%;
  }

  .workers-overview{
    padding: 0;
  }

  .active-leave-container {
    position: relative;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
  }

  .active-leave-name, .active-leave-date, .active-worker-id, .user-icon{
    font-size: .9rem;
  }

  .workers-total {
    width: 100%;
    margin-bottom: 1rem;
    p {
      font-size: 1rem;
    }
  }

  .homepage-workers-leave {
    h2 {
      margin-bottom: 1rem;
    }
  }

  .display-none {
    font-size: .7rem;
  } 
} 

@media only screen and (max-width: 400px) {
  .dashboard-content {
    padding: 1rem;
  }

  .display-none {
    font-size: .5rem;
  } 
}