@import "./client_primary";

.client-leave-history {
  margin: 0 0 2.2rem 0;
}

.client-leave-history--heading {
  font-weight: 500;
}

/* ------------------------------------------ dropdown and filter ----------------------------------- */

.client-leave-history--options {
  margin: 2rem 0 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-worker {
  background-color: #f3f5f7;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  min-width: 10rem;

  &:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
  }
}
.filter-workers-leave-history {
  position: relative;

  .filter-button {
    background-color: #f3f5f7;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;

    &:hover {
      cursor: pointer;
      background-color: rgb(230, 230, 230);
    }
  }
}

.filter-icon {
  margin-left: 1rem;
  font-size: 1rem;
}

/* ------------------------------------------ leave history container ----------------------------------- */

.client-leave-history-container {
  margin-top: 1.2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
}

.client-leave-history-details {
  background-color: $light-bg;
  padding: 1rem;
  border-radius: 0.5rem;
}

.client-leave-history-leave-type {
  font-weight: 600;
}

.client-leave-history-leave-date,
.client-leave-history-leave-status {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0 0 0;
}

.client-leave-history-leave-date span {
  opacity: 0.6;
}

.upcoming-leave-history,
.past-leave-history,
.rejected-leave-history {
  margin-top: 1.5rem;
  display: none;
}

.upcoming-leave-history--heading,
.past-leave-history--heading,
.rejected-leave-history--heading {
  font-size: 1.3rem;
  font-weight: 500;
}

.upcoming-leave-history-container,
.past-leave-history-container,
.rejected-leave-history-container {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
  padding-bottom: 2rem;
  border-bottom: $line;
}

.show-div {
  display: block;
}

/* ------------------------------------------ leave status ----------------------------------- */

.pending-leave {
  color: $orange-bg;
  margin-right: 0.5rem;
}

.approved-leave {
  color: $green-bg;
  margin-right: 0.5rem;
}

.rejected-leave {
  color: $red-bg;
  margin-right: 0.5rem;
}

.loader {
  color: $blue-bg;
  font-weight: 600;
  font-size: 1.1rem;
}

.empty-workers,
.no-past-leaves {
  opacity: 0.6;
  font-size: 1.1rem;
  position: absolute;
}

// Filter

.filter-container {
  background-color: $grey-bg;
  position: absolute;
  width: 15em;
  padding: 1rem 0.5rem;
  text-align: center;
  left: -7.5rem;
  margin-top: 1rem;
  display: none;
  z-index: 10;
}

.filter-container-active {
  display: block;
}

.filter-options {
  width: 100%;
  cursor: pointer;
  margin: 1rem 0;
  border: none;
  font-size: 1rem;
  text-align: center;
}

.icon {
  margin-left: 5px;
}

.active-option {
  color: $orange-bg;
  font-weight: 600;
}

.close-filter {
  color: black !important;
}

.load-gif {
  width: 6vw;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  margin: 10rem auto;
  grid-column: 1 / 4;
}

.filter-name {
  padding: 0.5rem 0.3rem;
  margin: 0 1rem;
  display: inline-block;
  font-weight: bolder;
  margin-bottom: 1rem;
  color: $blue-bg;
  border-bottom: 3px solid $blue-bg;
}

// --------------------------- RESPONSIVENESS --------------------- // 


@media only screen and (max-width: 1550px) {
  .client-leave-history-leave-type, .client-leave-history-leave-date, .history-leave-status {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1350px) {
  .dashboard-content {
    padding: 1rem 2rem;
  }

  .client-leave-history-leave-type, .client-leave-history-leave-date, .history-leave-status {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1130px) {

  .upcoming-leave-history-container, .past-leave-history-container,.rejected-leave-history-container {
    position: relative;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
  }
  .active-leave-name, .active-leave-date, .history-leave-status {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1260px) {
  .client-leave-history-leave-type, .client-leave-history-leave-date, .history-leave-status {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 550px) {

  .upcoming-leave-history-container, .past-leave-history-container,.rejected-leave-history-container {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
  }

  .client-leave-history-leave-type, .client-leave-history-leave-date, .history-leave-status {
    font-size: .9rem;
  }
  .upcoming-leave-history--heading, .past-leave-history--heading ,.rejected-leave-history--heading {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  .select-worker {
    font-size: 0.9rem !important;
    padding: 0.5rem 0.8rem !important;
  }
  .filter-button {
    font-size: 0.9rem !important;
    padding: 0.5rem 0.8rem !important;
  }
  .empty-workers,.no-past-leaves{
    font-size: 0.8rem;
  }
  .filter-container {
    width: 13em;
    font-size: 0.9rem;
    left: -5.5rem;
  }
  .filter-options {
    font-size: 0.9rem;
  }
} 

@media only screen and (max-width: 400px) {
  .dashboard-content {
    padding: 1rem;
  }
}