@import "./worker_primary";

/* ------------------------------------------ active and pending leaves ----------------------------------- */
.pending-active-leave--heading {
  font-weight: 500;
}

.pending-active-leave-container {
  margin-top: 1.2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
}

.pending-active-leave-details {
  background-color: $light-bg;
  padding: 1rem;
  border-radius: 0.5rem;
}

.pending-active-leave-type {
  font-weight: 600;
}

.pending-active-leave-date,
.pending-active-leave-status {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0 0 0;
}

.active-leave-date span {
  opacity: 0.6;
}

/* ------------------------------------------ past leaves ----------------------------------- */

.workers-leave-history {
  display: flex;
  position: relative;
  justify-content: space-between;
  border-bottom: 3px solid $separator;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  align-items: center;
}

.no-past-record {
  opacity: 0.5;
  font-weight: 600;
}

.upcoming-leaves-container,.past-leaves-container {
  margin-top: 1.2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
}

.worker-leave-history-details {
  background-color: $light-bg;
  padding: 1rem;
  border-radius: 0.5rem;
}

.worker-leave-history-leave-type {
  font-weight: 600;
}

.worker-leave-history-leave-date,
.worker-leave-history-leave-status {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0 0 0;
}

.worker-leave-history-leave-date span {
  opacity: 0.6;
}

.rejected-leave{
  color: $red-bg;
  margin-right: 0.5rem;
}

.approved-leave {
  color: $green-bg;
  margin-right: 0.5rem;
}

.capitalize-input{
  text-transform: capitalize;
}

// filter



.filter-button {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  border-radius: 0.3rem;
  border: none;
  width: fit-content;

  &:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
  }
}

.filter-options-container {
  background-color: $grey-bg;
  width: fit-content;
  text-align: center;
  margin-top: 1rem;
  position: absolute;
  right:-2rem;
  z-index: 10;
  padding: 1rem;
  border-radius: 0.3rem;
  display: none;

}

.filter-option {
  width: fit-content;
  cursor: pointer;
  margin: 0.5rem 0;
  border: none;
  font-size: 1rem;
  text-align: center;
  display: block;
}

.filter-container-active{
  display: block;
} 

.close-filter {
  color: black !important;
}

.details-icon {
  cursor: pointer;
  font-size: 1.3rem !important;
  color: $dark-bg;
}

.active-option{
  color: $orange-bg;
  font-weight: 600;
}

.approved-option{
  margin-bottom: 2rem;
}

.filter-name{
    padding: 0.5rem 0.3rem;
    margin: 0 1rem;
    display: inline-block;
    font-weight: bolder;
    margin-bottom: 1rem;
    color: $blue-bg;
    border-bottom: 3px solid $blue-bg;
}

.title-active {
  display: block;
}

.history-title {
  display: none;
  margin-top: 2rem;
}

.worker-leave-top-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .fa-regular, .fa-trash{
    font-size: 1.3rem;
    opacity: 0.6;
  }

  .fa-trash{
    &:hover{
      cursor: pointer;
      color: rgb(231, 0, 0);
    }
  }

  .fa-circle-xmark{
    margin-right: 2rem;
    &:hover{
      cursor: pointer;
      color: $red-bg;
    }
  }

  .fa-circle-check {
    &:hover {
      cursor: pointer;
      color: rgb(0, 139, 0);
    }
  }

}

.confirm-leave-delete-container {
  display: none;
}