@import "./worker_primary";

.dashboard-content {
  margin-bottom: 3rem;
}

.worker-leave-overview {
  display: flex;
  color: white;
  justify-content: space-between;
  margin-top: 2rem;

  .worker-total-leave {
    background-color: $blue-bg;
  }

  .worker-leaves-taken {
    background-color: $red-bg;
  }

  .worker-leaves-remaining {
    background-color: $green-bg;
  }
}

.overview {
  width: 30%;
  padding: 1.7rem;
  border-radius: 0.5rem;
  text-align: center;

  .leaves-data {
    font-size: 2rem;
    font-weight: 500;
  }
  .leaves-number {
    font-size: 2.5rem;
  }
}

.active-leave-container {
  margin-top: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(128, 124, 124, 0.507);
  .active-leave-details {
    margin-top: 1rem;
    background-color: $light-bg;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 32%;

    .leave-type {
      font-weight: 500;
      font-size: 1.1rem;
    }
    .active-leave-date {
      display: flex;
      justify-content: space-between;
      margin: 0.8rem 0;
      font-size: 1rem;
      span {
        opacity: 0.6;
      }
    }
    .leave-status {
      .green {
        margin-right: 0.8rem;
        color: $green-bg;
      }
    }
  }
}

.pending-and-approved {
  margin-top: 3rem;

  .pending-and-approved-container {

    position: relative;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 1.5rem;

    .worker-leaves {
      background-color: $light-bg;
      margin-top: 1rem;
      background-color: $light-bg;
      padding: 1rem;
      border-radius: 0.5rem;
      min-width: 30%;
      margin-bottom: 1rem;

      .leave-type {
        font-weight: 500;
        font-size: 1.1rem;
      }
      .leave-date {
        display: flex;
        justify-content: space-between;
        opacity: 0.6;
        margin: 0.8rem 0;
      }

      .fa-circle {
        margin-right: 0.8rem;
      }
    }
  }
}

.leave-type-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .fa-regular, .fa-trash{
    font-size: 1.3rem;
    opacity: 0.6;
  }

  .fa-trash{
    &:hover{
      cursor: pointer;
      color: rgb(231, 0, 0);
    }
  }

  .fa-circle-xmark{
    margin-right: 2rem;
    &:hover{
      cursor: pointer;
      color: $red-bg;
    }
  }

  .fa-circle-check {
    &:hover {
      cursor: pointer;
      color: rgb(0, 139, 0);
    }
  }

}

.green {
  color: $green-bg;
}

.orange {
  color: $primary-yellow;
}

.display-none{
  color: rgba(128, 128, 128, 0.596);
  font-weight: 700;
  margin-top: 1rem;
  font-size:1.2rem;
  width: 100%;
  text-align: center;
  margin: 2rem 0;

}

.no-pending-approved {
  margin: 3rem 0;
}

.loading-class {
  width: 100%;
  grid-column: span 3;
  text-align: center;
}

.load-gif{
  width: 4rem;
  margin: 4rem 0;
}


// ===========responsive====================

@media only screen and (max-width: 1550px) {
  .overview{
    .leaves-data{
      font-size: 1.6rem;
    }
    .leaves-number{
      font-size: 2.2rem;
    }
  }
  .display-none{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1350px) {
  .dashboard-content {
    padding: 1rem 2rem;
  }

  .active-leave-container {
    .active-leave-details {
      .leave-type{
        font-size: 1rem;
      }
      .active-leave-date, .leave-status{
        font-size: .9rem;
      }
    }
  }

  .pending-and-approved {
    .pending-and-approved-container {
      .worker-leaves {
        .leave-type{
          font-size: 1rem;
        }
        .leave-date, .leave-status{
          font-size: .9rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1260px) {
  .overview{
    .leaves-data{
      font-size: 1.4rem;
    }
    .leaves-number{
      font-size: 1.8rem;
    }
  }
  .display-none{
    font-size: 1rem;
  }
  .active-leave-container {
    .active-leave-details {
      .leave-type{
        font-size: .9rem;
      }
      .active-leave-date, .leave-status{
        font-size: .8rem;
      }
    }
  }
  .leave-type-container {
    .fa-regular, .fa-trash{
      font-size: 1.2rem;
    }

    .fa-circle-xmark{
      margin-right: 1rem;
    }
  }

  .pending-and-approved {
    .pending-and-approved-container {
      .worker-leaves {
        .leave-type{
          font-size: .9rem;
        }
        .leave-date, .leave-status{
          font-size: .8rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1130px) {

  .overview{
    .leaves-data{
      font-size: 1.3rem;
    }
    .leaves-number{
      font-size: 1.6rem;
    }
  }
  .display-none{
    font-size: 1rem;
  }
  .active-leave-container{
    .active-leave-details{
      width: 48%;
    }
  }
  .pending-and-approved {
    .pending-and-approved-container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@media only screen and (max-width: 700px) {
  .overview{
    .leaves-data{
      font-size: 1rem;
    }
    .leaves-number{
      font-size: 1.4rem;
    }
  }
  .display-none{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 550px) {

  .overview{
    .leaves-data{
      font-size: 1.1rem;
    }
    .leaves-number{
      font-size: 1.3rem;
    }

    margin-bottom: -1rem;
  }
  .display-none{
    font-size: 1rem;
  }
  .worker-leave-overview {
    flex-wrap: wrap;
    margin-top: 0;
  
    .worker-total-leave {
      width: 100%;
      margin-bottom: 1rem;
    }
  
    .worker-leaves-taken {
      width: 48%;
    }
  
    .worker-leaves-remaining {
      width: 48%;
    }
  }

  .pending-and-approved {
    margin-top: 2rem;
  
    .pending-and-approved-container {
      margin-top: 0;
    }
  }
  

  .active-leave-container{
    .active-leave-details{
      width: 100%;
    }
  }
  .pending-and-approved {
    .pending-and-approved-container {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}

@media only screen and (max-width: 400px) {
  .dashboard-content {
    padding: 1rem;
  }

  .display-none {
    font-size: .5rem;
  } 
}