@import "./worker_primary.scss";

a {
  color: black;
}

label span {
  color: red;
}

label {
  font-weight: 500;
  display: block;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}

.form-container {
  width: 90%;
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.form-field:nth-child(2n) {
  flex-basis: 50%;
}

.form-field:nth-child(2n + 1) {
  flex-basis: 50%;
}

select {
  width: 90%;
  background-color: #f3f5f7;
  padding: 0.6rem;
  margin-right: 2rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
}

.form-field input {
  border: none;
  padding: 0.6rem;
  border-radius: 0.3rem;
  background-color: #f3f5f7;
  margin-right: 2rem;
  width: 90%;
  font-size: 1rem;
  text-transform: capitalize;
}

#end-date,
#start-date {
  text-transform: none;
}

#reason-box {
  flex-basis: 100%;
}

#reason-box textarea {
  border: none;
  border-radius: 0.3rem;
  background-color: #f3f5f7;
  padding: 1rem;
  width: 95%;
  resize: none;
  font-size: 1rem;
}

.form-buttons {
  width: 93%;
  display: flex;
  justify-content: flex-end;
}

.form-buttons button {
  margin: 0 1rem;
  padding: 0.5rem 3rem;
  border-radius: 0.3rem;
  border: none;
  font-size: 1rem;
}

.form-button-apply {
  background-color: $primary-yellow;
  outline: 1px solid $primary-yellow;

  &:hover {
    background-color: $orange-bg;
    cursor: pointer;
  }
}

.form-button-reset{
  outline: 2px solid $primary-yellow;
  background-color: white;
  color: rgb(59, 59, 59);
  font-weight: 500;
  &:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
  }
}

.error-content {
  width: 100%;
  text-align: center;
  height: 2vh;
  margin-block: 0.5rem 1rem;
}
