@import "./worker_primary.scss";

a {
  color: black;
}

label span {
  color: red;
}

label {
  font-weight: 500;
  display: block;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}

.dashboard-content {
  display: flex;
  justify-content: center;
}

.form-container {
  padding: 0 5rem;
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.form-field:nth-child(2n),
.form-field:nth-child(2n + 1) {
  flex-basis: 45%;
}

.form-field input,
.form-field select {
  border: none;
  padding: 0.6rem;
  border-radius: 0.3rem;
  background-color: #f3f5f7;
  width: 100%;
  font-size: 1rem;
  text-transform: capitalize;
}

#days-number {
  padding: 0.7rem;
}

#end-date,
#start-date {
  text-transform: none;
}

#reason-box {
  justify-self: flex-start;
  flex: 1 0 50%;
  margin-bottom: 2rem;
}

#reason-box textarea {
  border: none;
  border-radius: 0.3rem;
  background-color: #f3f5f7;
  padding: 1rem;
  width: 100%;
  resize: none;
  font-size: 1rem;
}

.form-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.form-buttons button {
  padding: 0.5rem 3rem;
  border-radius: 0.3rem;
  border: none;
  font-size: 1rem;
}

.apply-leave {
  background-color: $orange-bg;
  outline: 1px solid $orange-bg;
  margin-left: 2rem;

  &:hover {
    cursor: not-allowed;
  }
}

.reset-leave {
  outline: 2px solid $orange-bg;
  background-color: white;
  color: rgb(59, 59, 59);
  font-weight: 500;

  &:hover {
    cursor: not-allowed;
  }
}

.form-button-apply {
  background-color: $primary-yellow;
  outline: 1px solid $primary-yellow;
  margin-left: 2rem;

  &:hover {
    background-color: $orange-bg;
    cursor: pointer;
  }
}

.form-button-reset {
  outline: 2px solid $primary-yellow;
  background-color: white;
  color: rgb(59, 59, 59);
  font-weight: 500;
  &:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
  }
}

.error-content {
  width: 100%;
  text-align: center;
  height: 2vh;
  margin-block: 0.5rem 1rem;
}

.start-date-error-div {
  width: 100%;
  color: red;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
}

.eligible-leave {
  color: $green-bg;
}

// MEDIA QUERY
@media only screen and (max-width: 1115px) {
  .dashboard-content {
    padding: 0 0 1rem 0;
  }
}

@media only screen and (max-width: 1023px) {
  .success-alert {
  display: none;
  padding: 0.5rem;
  font-size: 0.9rem;

  h4 {
    font-size: 1rem;
  }
}

.success-alert i:nth-child(1) {
  padding: 0.4rem;
  font-size: 0.6rem;
  margin-right: 0.2rem;
}
}

@media only screen and (max-width: 660px) {
  .form-container,
  .form-field input,
  .form-field select,
  #reason-box textarea,
  .form-buttons button {
    font-size: 0.9rem;
  }

  .form-container {
    max-height: 5vh;
  }
}

@media only screen and (max-width: 600px) {
  .form-container,
  .form-field input,
  .form-field select,
  #reason-box textarea,
  .form-buttons button {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 550px) {
  .form-container {
    display: block;
    width: 100vw;
  }

  .form-buttons {
    justify-content: center;
  }

  .form-container,
  .form-field input,
  .form-field select,
  #reason-box textarea,
  .form-buttons button {
    font-size: 1rem;
  }

  .form-container {
    max-height: 100vh;
  }
}

@media only screen and (max-width: 490px) {
  .dashboard-content {
    display: block;
    padding: 0;
    padding-bottom: 1rem;
  }

  .form-field {
    padding: 0;
  }

  .form-container {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 375px) {
  .form-container,
  .form-field input,
  .form-field select,
  #reason-box textarea,
  .form-buttons button {
    font-size: 0.9rem;
  }
}

@media only screen and (max-height: 850px) {
  .form-container {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-height: 845px) {
  .form-container {
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-height: 820px) {
  .form-container {
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-height: 810px) {
  .form-container {
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-height: 795px) {
  .form-container {
    margin-bottom: 3.5rem;
  }
}

@media only screen and (max-height: 780px) {
  .form-container {
    margin-bottom: 4.5rem;
  }
}

@media only screen and (max-height: 760px) {
  .form-container {
    margin-bottom: 5.5rem;
  }
}

@media only screen and (max-height: 719px) {
  .form-container {
    margin-bottom: 10.5rem !important;
  }

  .form-buttons {
    margin-bottom: 10rem;
  }
}

@media only screen and (max-height: 750px) {
  .form-container {
    margin-bottom: 6.5rem;
  }
}

@media only screen and (max-height: 695px) {
  .form-container {
    margin-bottom: 7.5rem;
  }
}

@media only screen and (max-height: 680px) {
  .form-container {
    margin-bottom: 8.5rem;
  }
}

@media only screen and (max-height: 670px) {
  .form-container {
    margin-bottom: 9.5rem;
  }
}

@media only screen and (max-height: 650px) {
  .form-container {
    margin-bottom: 10.5rem;
  }
}

@media only screen and (width >= 768px) and (height>=1000px) {
  .form-container {
    margin: 0 !important;
    padding-bottom: 0;
    height: 50vh;
  }

  .form-container {
    row-gap: 1.5rem;
  }

  .dashboard-content {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
}
