@import "./worker_primary";

.worker-name-profile {
  font-weight: 500;
  font-size: 2.5rem;
  text-transform: capitalize;
}

.worker-sub-title {
  font-weight: 200;
  color: black;
}

.details-table {
  margin: 2rem 0;
  padding: 1.2rem 2rem;
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
  background-color: $light-bg;
  border-radius: 1rem;
}

.profile-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.7rem 0;
  border-bottom: 2px solid $grey-bg;
}

.details-head {
  color: black;
  font-weight: bold;
}

.details-body {
  font-weight: 500;
  text-transform: capitalize;
}

.emp-email-value {
  text-transform: none;
}
