@import "./worker_primary";

.dashboard-content {
  margin-bottom: 5rem;
}

.worker-leave-overview {
  display: flex;
  color: white;
  justify-content: space-between;
  margin-top: 2rem;

  .worker-total-leave {
    background-color: $blue-bg;
  }

  .worker-leaves-taken {
    background-color: $red-bg;
  }

  .worker-leaves-remaining {
    background-color: $green-bg;
  }
}

.overview {
  width: 25%;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;

  .leaves-data {
    font-size: 2rem;
    font-weight: 500;
  }
  .leaves-number {
    font-size: 2.5rem;
  }
}

.active-leave-container {
  margin-top: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
  .active-leave-details {
    margin-top: 1rem;
    background-color: $light-bg;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 30%;

    .leave-type {
      font-weight: 500;
      font-size: 1.1rem;
    }
    .active-leave-date {
      display: flex;
      justify-content: space-between;
      margin: 0.8rem 0;
      span {
        opacity: 0.6;
      }
    }
    .leave-status {
      .green {
        margin-right: 0.8rem;
        color: $green-bg;
      }
    }
  }
}

.pending-and-approved {
  margin-top: 3rem;

  .pending-and-approved-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .worker-leaves {
      background-color: $light-bg;
      margin-top: 1rem;
      background-color: $light-bg;
      padding: 1rem;
      border-radius: 0.5rem;
      min-width: 30%;
      margin-bottom: 1rem;

      .leave-type {
        font-weight: 500;
        font-size: 1.1rem;
      }
      .leave-date {
        display: flex;
        justify-content: space-between;
        opacity: 0.6;
        margin: 0.8rem 0;
      }

      .fa-circle {
        margin-right: 0.8rem;
      }
    }
  }
}

.green {
  color: $green-bg;
}

.orange {
  color: $primary-yellow;
}
