@import "./worker_primary";

.worker-name-profile {
  font-weight: 500;
  font-size: 2.5rem;
  text-transform: capitalize;
}

.worker-sub-title {
  font-weight: 200;
  color: black;
  text-transform: capitalize;
}

.details-table {
  margin: 2rem 0;
  padding: 1.2rem 2rem;
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
  background-color: $light-bg;
  border-radius: 1rem;
}

.profile-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.7rem 0;
  border-bottom: 2px solid $grey-bg;
}

.details-head {
  color: black;
  font-weight: bold;
}

.details-body {
  font-weight: 500;
  text-transform: capitalize;
}

.emp-email-value {
  text-transform: none;
}


// -------------------------- change password -------------------- // 

.change-password-container {
  width: fit-content;
  position: absolute;
  bottom: 3rem;
  right: 4rem;
}

.dashboard-content {
  position: relative;
}

.change-password-button{
  padding: 0.7rem;
  background-color: $primary-yellow;
  border-radius: 0.5rem;
  color: black;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.password-icon {
  margin-right: 0.5rem;
}


.main-password-change-container{
  position: absolute;
  width: 100dvw;
  min-height: 100dvh;
  background: linear-gradient(rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
  display: none;
  align-content: center;
  justify-content: center;
  z-index: 30;
  top: 0;
  right: 0;
  left: 0;
}

.password-change-container {
  background-color: white;
  display: flex;
  width: fit-content;
  align-items: center;
  border-radius: 0.4rem;
}

.password-left-container{
  text-align: center;
  padding: 2rem 0;
}

.password-right-container {
  background-color: $dark-bg;
  height: 100%;
  width: fit-content;
  padding: 2.5rem;
  border-radius: 0 0.4rem 0.4rem 0;
}

.password-inputs{
  font-size: 1rem;
  border: none;
  padding: 0.8rem;
  border-radius: 0.3rem;
  background-color: #f3f5f7;
  margin: 1rem 0;
  color: rgb(22, 22, 22);
  width: 100%;
}

.password-change-button-container {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.password-button{
  color: black;
  cursor: pointer;
  font-size: 1rem;
  border: none;
  padding: 0.8rem;
  border-radius: 0.3rem;
  background-color: #f3f5f7;
  margin: 1rem 0;
  color: rgb(22, 22, 22);
  display: inline-block;
  flex-basis: 50%;
} 

.save-button {
  background-color: orange;
  text-transform: uppercase;
}

.save-button:hover{
  background-color: #f5aa09;
}

.cancel-button {
  color: black;
  margin-right: 1rem;
}

.cancel-button:hover{
  background-color: #f5f5f5
}

.password-left-container h1{
  margin: 2.5rem 0;
}

.xmark-new-password {
  margin-right: 0.4rem;
}

#password-image {
  width: 60%;
  border-radius: 40%;
}

.change-password-active {
  display: grid;
}

.password-label {
  width: 100%;
  text-align: left;
  display: inline-block;
  color: white;
}

.error-message {
  min-height: 2vh;
  color: rgb(255, 122, 122);
  margin: 0 auto;
}


// ---------------- RESPONSIVENESS ------------------ // 

@media only screen and (max-height: 900px) {
  .change-password-container {
    bottom: 1rem;
  }
  .worker-name-profile {
    margin-left: 1rem;
  }
  .worker-sub-title {
    margin-left: 0.6rem;
  }
  .details-head, .details-body {
    font-size: 0.9rem;
  }
  .change-password-button {
    padding: 0.5rem;
    font-size: 0.8rem !important;
  }
  
}

@media only screen and (max-width: 1023px) {
  .dashboard-content {
    width: 90%;
    padding: 0;
  }
  .change-password-container {
    right: 0;
  }
  .change-password-button {
    padding: 0.5;
    font-size: 0.9rem;
  }
  .worker-name-profile {
    font-size: 2rem;
  }

}

@media only screen and (max-width: 620px) {
  .worker-name-profile {
    font-size: 1.6rem;
    margin-left: 1rem;
  }
  .worker-sub-title {
    font-size: 0.8rem;
    margin-left: 0.6rem;
  }
  .profile-details {
    display: block;
  }
  .details-body {
    margin-top: 0.8rem;
  }
  .dashboard-content {
    margin: 0 auto;
  }
  .worker-sub-title {
    margin-left: 0.6rem;
  }
  .details-head, .details-body {
    font-size: 0.9rem;
  }
  .change-password-button {
    padding: 0.4rem;
    font-size: 0.7rem !important;
  }
}

@media only screen and (orientation: portrait) {
  .change-password-container {
    top: 0.2rem;
  }

}

@media only screen and (max-width: 575px) {
  .change-text {
    display: none;
  }
  .password-icon {
    margin-right: 0.2rem;
  }
  .worker-name-profile {
    font-size: 1.3rem;
    margin-left: 1rem;
  }
  .worker-sub-title {
    font-size: 0.7rem;
    margin-left: 0.6rem;
  }

  
}
/// ---------------------- PASSWORD CHANGE ACTIVE CONTAINER -------------///

@media only screen and (max-width: 1240px) {
  .password-left-container h1 {
    font-size: 1.8rem;
  }
  .password-change-container {
    width: 80%;
    margin: 0 auto;
  }

}

@media only screen and (max-width: 1023px) {
  .password-change-container {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 950px) {
    .password-change-container  {
        display: block;
        width: 100%;
    }
    .password-left-container{
      display: none;
    }
    .password-right-container {
      border-radius: 0.4rem;
      width: 100%;
    }
    .password-label {
      font-size: 0.9rem;
    }
    .password-inputs {
      font-size: 0.9rem;
      padding: 0.5rem;
    }
    .error-message {
      font-size: 0.9rem;
    }
    .password-button {
      padding: 0.6rem;
      font-size: 0.9rem;
    } 
}

@media only screen and (orientation: portrait) {
  .password-change-container {
    width: 90%;
  }
}