@import "./worker_primary";

/* ------------------------------------------ active and pending leaves ----------------------------------- */
.pending-active-leave--heading {
  font-weight: 500;
}

.pending-active-leave-container {
  margin-top: 1.2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
}

.pending-active-leave-details {
  background-color: $light-bg;
  padding: 1rem;
  border-radius: 0.5rem;
}

.pending-active-leave-type {
  font-weight: 600;
}

.pending-active-leave-date,
.pending-active-leave-status {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0 0 0;
}

.active-leave-date span {
  opacity: 0.6;
}

/* ------------------------------------------ past leaves ----------------------------------- */

.past-leaves-h1{
  border-bottom: 3px solid $separator;
  display: block;
  margin-bottom: 2rem;
}

.no-past-record {
  opacity: 0.5;
  font-weight: 600;
  text-align: center;
}