<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/style_sheets/client_leave_settings.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>ecoBees</title>
</head>

<body>
    <div class="main-container">
        <div class="left-container">
            <nav>
                <h1 id="main-logo"><span>e</span>coB<span>ee</span>s</h1>
                <ul id="nav-ul ">
                    <li>
                        <a href="/client_home" class="nav-links"><i
                                class="fa-solid fa-house nav-icon"></i>Home</a>
                    </li>
                    <li>
                        <a href="/client_profile" class="nav-links"><i class="fa-solid fa-user nav-icon"></i>Profile</a>
                    </li>
                    <li>
                        <a href="/client_manage_leave" class="nav-links"><i class="fa-solid fa-right-from-bracket nav-icon"></i>Manage
                            Leaves</a>
                    </li>
                    <li>
                        <a href="/client_leave_history" class="nav-links"><i class="fa-solid fa-clock-rotate-left nav-icon"></i>Leave
                            History</a>
                    </li>
                    <li>
                        <a href="/client_manage_worker" class="nav-links"><i class="fa-solid fa-user-gear nav-icon"></i>Manage Workers</a>
                    </li>
                    <li class="active">
                        <a href="/client_leave_settings" class="nav-links nav-active"><i class="fa-solid fa-gear nav-icon"></i>Leave Settings</a>
                    </li>
                </ul>
            </nav>
            <div class="logout-button-container">
                <a href="#" class="logout-button"><i class="fa-solid fa-arrow-right-from-bracket nav-icon"
                        style="rotate: 180deg"></i>Logout</a>
            </div>
        </div>
        <div class="right-container">
            <div class="navbar-name">
                <div class="navbar-left">
                    <p>Leave Tracking System</p>
                </div>
                <div class="navbar-right">
                    <button id="button-add-worker">
                        <i class="fa-solid fa-user-plus"></i>Add Worker
                    </button>
                </div>
            </div>
            <div class="dashboard-content">
                <div class="leave-setting-options">
                    <h2 class="dashboard-heading">Leave Settings</h2>
                    <a href="#"><i class="fa-solid fa-gear leave-option-gear"></i></a>
                </div>
                

                <form class="form-container">
                    <div class="form-field">
                      <label for="no-of-days" class="form-labels"> Total days of leave in a year:</label>
                      <input id="no-of-days" type="number" placeholder="30" />
                    </div>

                    <div class="form-field">
                      <label for="types-of-leaves" class="form-labels"> Types of leaves:</label>
                      <select name="type-of-leave" id="">
                        <option value="sick">Sick Leave</option>
                        <option value="vacation">Vacation Leave</option>
                        <option value="unpaid">Unpaid Leave</option>
                        <option value="urgent">Urgent Leave</option>
                      </select>
                    </div>

                </form>

            </div>

             <!-- add-worker / register worker -->

            <div class="register-container">
                <div class="register-right-container">
                <div class="register-container-wrapper">
                    <div class="register-heading">
                    <p>Register Worker</p>
                    <i class="fa-solid fa-circle-xmark" id="close-form"></i>
                    </div>

                    <form class="register-form">
                    <input type="text" placeholder="First Name"
                        class="register-input-field worker-name-register first-name" required />
                    <input type="text" placeholder="Last Name" class="register-input-field worker-name-register"
                        required />

                    <p>Choose gender</p>

                    <div class="form-fullname">
                        <select class="select-gender">
                        <option value="male">Male</option>
                        <option value="">Female</option>
                        </select>
                        <input type="number" min="1000" max="9999" placeholder="Unique Worker ID(4 Digits)"
                        class="register-input-field" required />
                    </div>

                    <input type="text" id="employee-email" placeholder="Employee's Email Address"
                        class="register-input-field" required />
                    <input type="password" placeholder="Choose Password" id="employee-password"
                        class="register-input-field" required />
                    <input type="password" placeholder="Confirm Password" id="employee-password-"
                        class="register-input-field" />

                    <div class="form-buttons">
                        <button class="form-button-reset">
                        <a href="#">Reset</a>
                        </button>
                        <button class="form-button-apply">
                        <a href="#">ADD</a>
                        </button>
                    </div>
                    </form>
                </div>
                </div>
            </div>


            <script src="/scripts/client/client_dashboard.js"></script>
</body>

</html>