<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/style_sheets/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />

    <title>ecoBees</title>
  </head>

  <body>
    <div class="main-container">
      <div class="left-container">
        <div class="left-container-heading">
          <img
            class="ecobees-trans-logo"
            src="/images/LOGO_IMG_Trans.png"
            alt="ecoBees logo"
          />
          <img
            src="/images/client_bee.png"
            alt="Bee Image"
            class="client-bee-logo"
          />
        </div>
      </div>

      <div class="right-container">
        <div class="right-container-wrapper">
          <div class="right-container-heading">
            <span>
              SignIn as
              <h1 id="ecobees-text-logo"><span>Client</span></h1>
            </span>
          </div>

          <form class="login-form">
            <input
              type="email"
              name="cEmail"
              id="login-email"
              placeholder="Email"
              class="login-input-field client-login-email"
              required
            />

            <input
              type="password"
              name="cPassword"
              id="login-password"
              placeholder="Password"
              class="login-input-field client-login-password"
              required
            />

            <div class="login_error register-errors"></div>

            <div class="success-alert alert-boxes">
              <i class="fa-solid fa-check alert-icon"></i>
              <span class="alert-description">
                <h4>Success:</h4>
                Logging In!
              </span>
            </div>

            <div class="login-type">
              <button type="submit" class="login-button">Log In</button>
            </div>
            <a href="/client_forgot_password" target="_blank" class="forgot-password">Forgot password?</a>
          </form>
        </div>
      </div>
    </div>

    <script src="/scripts/login/client_login.js"></script>
  </body>
</html>
