<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../public/style_sheets/confirm.css">
</head>

<body>
    <div class="confirm-container">
        <div class="confirm-wrapper">
            <i class="fa-solid fa-circle-exclamation confirm-icon"></i>
            <h1 class="warning-title">The user will be deleted</h1>
            <p class="warning-about">You will not be able to undo this process </p>
            <button class="cancel-button confirm">Cancel</button>
            <button class="confirm-button confirm">Yes, delete it!</button>
        </div>
    </div>
</body>

</html>