@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
::selection {
  background-color: #fdb514;
  color: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.main-container {
  background-color: #f3f5f7;
  display: flex;
}

#main-logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3rem;
  letter-spacing: 2px;
  display: block;
  text-align: center;
  color: white;
  margin-top: 0.5rem;
  font-family: "Poppins", sans-serif;
}

#main-logo span {
  font-weight: 500;
  color: #fdb514;
  font-family: "Poppins", sans-serif;
}

/* -----------------------left container ---------------- */
.left-container {
  background: #3c4048;
  padding: 0.5rem 1rem 2rem 1rem;
  min-width: 13vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

li {
  list-style: none;
  margin: 1rem 0;
  border-radius: 0.5rem;
  width: 100%;
  color: white;
}

.nav-links {
  width: 100%;
  padding: 1rem;
  display: inline-block;
  color: white;
}
.nav-links:hover {
  color: #fdb514;
}

.active {
  background-color: #fdb514;
}

.nav-active {
  color: black;
}
.nav-active:hover {
  color: black;
}

.logout-button-container {
  width: 100%;
}

.logout-button {
  text-decoration: none;
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 3rem;
  color: white;
  border-radius: 0.5rem;
  display: inline-block;
}

.logout-button:hover {
  background-color: #ff0032;
  border-radius: 0.5rem;
}

.nav-icon {
  margin-right: 1.5rem;
}

/* -----------------------right container ---------------- */
.right-container {
  width: 100%;
}

.navbar-name {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(182, 174, 174, 0.096);
  width: 100%;
}

.navbar-left {
  font-size: 2rem;
}

#button-add-worker {
  padding: 0.7rem;
  background-color: #fdb514;
  border-radius: 0.5rem;
  color: black;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

#button-add-worker:hover {
  background-color: #f5aa09;
}

.fa-user-plus {
  margin-right: 0.5rem;
}

.dashboard-content {
  padding: 2rem;
  width: 90%;
  background-color: white;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 2.5rem;
  min-height: 82vh;
  padding: 2rem 4rem;
}

/* -----------------------------------------register-form container ------------------------------------------------- */
.register-container {
  display: none;
  background-color: black;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%);
  height: 100dvh;
  left: 0;
  right: 0;
  bottom: 0;
}

.form-active {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 10;
}

.register-right-container {
  background-color: white;
  width: 60%;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.register-container-wrapper {
  margin: 0 3rem;
}

.register-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 2px solid rgb(207, 205, 205);
}
.register-heading .fa-circle-xmark {
  font-size: 1.9rem;
  cursor: pointer;
  border-radius: 4rem;
  color: #7d90a5;
}
.register-heading .fa-circle-xmark:hover {
  color: #ff0033;
}

.register-heading p {
  font-size: 2rem;
}

/* form */
.register-form {
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 0.5rem;
  column-gap: 2rem;
}
.register-form label {
  padding-left: 0.3rem;
  padding-bottom: 0.5rem;
  display: inline-block;
}

.register-errors {
  color: #ff0032;
  min-height: 4vh;
  font-size: 0.9rem;
}

.register-input-field {
  font-size: 1rem;
  border: none;
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: #f3f5f7;
  margin-bottom: 0.5rem;
  color: rgb(22, 22, 22);
  width: 100%;
}

.capitalize-input {
  text-transform: capitalize;
}

input[type=radio] {
  margin-right: 3rem;
}

.choose-gender {
  margin-bottom: 0.8rem;
}

.password-container {
  position: relative;
}

.fa-eye-slash {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  top: 38%;
}

.form-buttons {
  text-align: right;
  grid-column: span 2;
}

.form-buttons button {
  border: none;
  border-radius: 0.5rem;
  background-color: #fdb514;
  display: inline-block;
  padding: 0.7rem 3rem;
  color: black;
  font-size: 1rem;
}
.form-buttons button:hover {
  background-color: #f5aa09;
  cursor: pointer;
}

.form-button-reset {
  margin-right: 1rem;
}

.company-name-value,
#clientID {
  cursor: not-allowed;
}

.double-id-container {
  display: flex;
}

.client-id-container {
  flex-basis: 18%;
}

.worker-id-container {
  flex-basis: 80%;
}

#workerID,
.workerID_error {
  margin-left: 0.8rem;
}

.form-gender-container {
  grid-column: span 2;
}

.id-details {
  margin-left: 1rem;
  color: #7d90a5;
  display: inline-flex;
  flex-basis: 80%;
}

#mesh-id {
  color: #3c79f5;
  font-weight: 600;
  font-size: 1rem;
  margin-left: 0.3rem;
}

.worker-id-labels {
  display: flex;
}

.worker-id-label {
  flex-basis: 18%;
}

.success-alert {
  display: none;
  position: absolute;
  min-width: 15%;
  top: 0.5rem;
  right: 0;
  color: rgb(26, 114, 55);
  background-color: rgb(175, 231, 193);
  padding: 1rem;
  border-radius: 0.5rem 0 0 0.5rem;
  font-weight: 500;
  text-align: center;
  border-left: 10px solid rgb(26, 114, 55);
}
.success-alert h4 {
  display: inline-flex;
  font-size: 1.1rem;
  font-weight: 500;
}

.success-alert i:nth-child(1) {
  background-color: rgb(56, 153, 90);
  padding: 0.5rem;
  color: white;
  border-radius: 50%;
}

.workers-overview {
  display: flex;
  color: white;
  padding: 2rem 0;
  justify-content: space-between;
}

.overview-container {
  width: 30%;
  padding: 1.7rem;
  border-radius: 0.5rem;
  text-align: center;
  margin-right: 2rem;
}

.worker-overview-icon {
  font-size: 2.5rem;
}

.clock_check {
  transform: translateX(0.6rem);
}

.workers-total {
  background-color: #3c79f5;
}

.workers-leave {
  background-color: #ff0032;
}

.workers-active {
  background-color: #03c988;
}

.worker-overview-number {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0.2rem 0;
}

.worker-overview-status {
  font-size: 1.5rem;
  font-weight: 400;
}

/* ------------------------------------------ active leave overview on homepage ----------------------------------- */
.homepage-workers-leave {
  margin: 2rem 0;
}

.active-leave-container {
  position: relative;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
}

.active-leave-details {
  background-color: #f3f5f7;
  padding: 0.8rem;
  border-radius: 0.5rem;
}

.active-leave-name {
  font-weight: 500;
  margin-left: 0.5rem;
}

.active-leave-date {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0;
}

.active-leave-date span {
  opacity: 0.6;
}

.user-icon {
  background-color: #3c79f5;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 0.2rem;
}

.green {
  color: #03c988;
  margin-right: 0.2rem;
}

.display-none {
  position: absolute;
  color: rgba(128, 128, 128, 0.596);
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 8rem;
}