@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ecobees-text-logo {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

#ecobees-text-logo span {
  color: #fdb514;
}

.main-container {
  text-align: left;
  width: 25%;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
}

.form-description {
  font-size: 1rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

.email-label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

#email-input-field {
  font-size: 1rem;
  border: 2px solid #fdb514;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(231, 231, 231);
  color: rgb(22, 22, 22);
  margin-bottom: 1rem;
}

.submit-button {
  background-color: #fdb514;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  line-height: 3.5rem;
  color: black;
  border: none;
  margin-bottom: 4rem;
}
.submit-button:hover {
  cursor: pointer;
  background-color: #ffca56;
}

.no-account {
  text-align: center;
}
.no-account .sign-up {
  color: #fdb514;
  font-size: 1.1rem;
  font-weight: 800;
  text-decoration: none;
}
.no-account .sign-up:hover {
  text-decoration: underline;
}

.bee-honeycomb {
  width: 24rem;
  position: absolute;
  bottom: 0;
  left: 5%;
  border-radius: 70%;
  z-index: -1;
}