@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ecobees-text-logo {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

#ecobees-text-logo span {
  color: #fdb514;
}

.main-container {
  text-align: left;
  width: 25%;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
}

.form-description {
  font-size: 1rem;
  margin-bottom: 2rem;
  font-weight: 400;
  color: rgb(95, 95, 95);
}

.reset-description {
  color: rgb(95, 95, 95);
  text-align: center;
  margin-bottom: 1rem;
}

.labels {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.input-fields {
  font-size: 1rem;
  border: 2px solid #fdb514;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(245, 242, 242);
  color: rgb(22, 22, 22);
  margin-bottom: 0.5rem;
}

.submit-button {
  background-color: #fdb514;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  line-height: 3.5rem;
  color: black;
  border: none;
  margin-bottom: 4rem;
}
.submit-button:hover {
  cursor: pointer;
  background-color: #fac34b;
}

.no-account {
  text-align: center;
}
.no-account .sign-up {
  color: #fdb514;
  font-size: 1.1rem;
  font-weight: 800;
  text-decoration: none;
}
.no-account .sign-up:hover {
  text-decoration: underline;
}

.bee-honeycomb {
  width: 24rem;
  position: absolute;
  bottom: 0;
  left: 5%;
  border-radius: 70%;
  z-index: -1;
}

.error-field {
  color: rgb(255, 77, 77);
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}

.load-gif {
  width: 20%;
}

.success-alert {
  display: none;
  position: absolute;
  min-width: 15%;
  top: 0.5rem;
  right: 0;
  color: rgb(26, 114, 55);
  background-color: rgb(175, 231, 193);
  padding: 1rem;
  border-radius: 0.5rem 0 0 0.5rem;
  font-weight: 500;
  text-align: center;
  border-left: 10px solid rgb(26, 114, 55);
}
.success-alert h4 {
  display: inline-flex;
  font-size: 1.1rem;
  font-weight: 500;
}

.success-alert i:nth-child(1) {
  background-color: rgb(56, 153, 90);
  padding: 0.5rem;
  color: white;
  border-radius: 50%;
}

.reset-link-sent {
  font-size: 2rem;
  color: #fac34b;
  text-align: center;
  margin-bottom: 4rem;
  font-weight: 700;
}
