@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
::selection {
  background-color: #fdb514;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 10rem;
  background-color: #dbe8f4;
  display: grid;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}

.main-container {
  display: flex;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#ecobees-text-logo {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
}

#ecobees-text-logo span {
  color: #fdb514;
}

a {
  text-decoration: none;
}

/* -------------left container--------- */
.left-container {
  display: flex;
  background-color: #f3f5f7;
  flex-basis: 65%;
  border-radius: 2rem 0 0 2rem;
}

.left-container-heading {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ecobees-trans-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 12rem;
}

.ecobees-text-logo {
  text-align: center;
}

.client-bee-logo {
  width: 37.5rem;
}

.worker-bee-logo {
  width: 37.5rem;
}

/* ----right container-------- */
.right-container {
  display: flex;
  justify-content: center;
  flex-basis: 35%;
  background-color: #3c4048;
  border-radius: 0 2rem 2rem 0;
  color: white;
}

.right-container-wrapper {
  margin: 4rem;
}

.right-container-heading {
  flex-direction: row;
  font-size: 2.3rem;
  font-weight: 500;
  text-align: center;
}

.right-container-heading h1 {
  display: inline-flex;
}

/*-------------------- form */
.login-form {
  margin-top: 4rem;
  padding-bottom: 2rem;
}

.login-type {
  margin-bottom: 1rem;
}

.login-input-field {
  width: 100%;
  font-size: 1rem;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f3f5f7;
  margin-bottom: 1.5rem;
  color: rgb(22, 22, 22);
}

.login-button {
  background-color: #fdb514;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  line-height: 3.5rem;
  color: black;
  border: none;
  margin-top: 2rem;
}

.login-button:hover {
  cursor: pointer;
  background-color: #f5aa09;
}

.register-errors {
  color: rgb(255, 122, 122);
  font-weight: 500;
  text-align: center;
  margin-top: -1rem;
}

@media only screen and (max-width: 1560px) {
  #ecobees-text-logo {
    font-size: 1.5rem;
  }
  .signIn-as-text {
    font-size: 1.5rem;
  }
  .right-container {
    justify-content: center;
    flex-basis: 45%;
    display: flex;
    background-color: #3c4048;
    border-radius: 0 2rem 2rem 0;
    color: white;
  }
  .right-container-wrapper {
    margin: 2rem;
  }
  .right-container-heading {
    font-size: 1.7rem;
  }
  .ecobees-trans-logo {
    width: 9rem;
  }
  .client-bee-logo {
    width: 20rem;
  }
  .login-input-field {
    font-size: 0.9rem;
    padding: 0.7rem;
  }
  .login-button {
    font-size: 1rem;
    line-height: 2.8rem;
  }
  #worker-login-bee-image, #client-login-bee-image {
    width: 23rem;
  }
  body {
    padding: 6rem;
  }
}
@media only screen and (max-width: 850px) {
  .main-container {
    display: block;
    box-shadow: none;
  }
  .left-container {
    background-color: #dbe8f4;
  }
  .left-container-heading {
    position: initial;
  }
  .right-container {
    display: block;
    padding-top: 0.5rem;
    width: 70%;
    border-radius: 0.5rem;
    margin: 0 auto;
  }
  .login-input-field {
    font-size: 0.8rem;
  }
  .login-button {
    font-size: 0.8rem;
    line-height: 2rem;
    border-radius: 0.2rem;
    width: 100%;
  }
  .forgot-password {
    font-size: 0.9rem;
  }
  #ecobee-logo {
    position: absolute;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 1rem;
  }
  #worker-login-bee-image, #client-login-bee-image {
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 25rem;
  }
  body {
    padding: 1rem;
    text-align: center;
    position: relative;
  }
  .login-input-field {
    width: 100%;
    border-radius: 0.2rem;
  }
  .register-errors {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 600px) {
  .right-container {
    border-radius: 0.5rem;
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-top: 0.5rem;
  }
  #worker-login-bee-image {
    bottom: 2rem;
    width: 20rem;
  }
  #client-login-bee-image {
    width: 14rem;
  }
}
@media only screen and (max-width: 475px) {
  .right-container {
    width: 90%;
  }
  #worker-login-bee-image {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 15rem;
  }
  #client-login-bee-image {
    width: 16rem;
  }
  body {
    padding: 0;
  }
}
@media only screen and (max-height: 770px) {
  #worker-login-bee-image, #client-login-bee-image {
    bottom: 1rem;
  }
  #ecobee-logo {
    width: 6.5rem;
    top: 0.5rem;
  }
  #client-login-bee-image {
    width: 11.5rem;
  }
}
.forgot-password {
  color: white;
  font-weight: 500;
}
.forgot-password:hover {
  text-decoration: underline;
}

.success-alert {
  display: none;
  position: absolute;
  min-width: 15%;
  top: 0.5rem;
  right: 0;
  color: rgb(26, 114, 55);
  background-color: rgb(175, 231, 193);
  padding: 1rem;
  border-radius: 0.5rem 0 0 0.5rem;
  font-weight: 500;
  text-align: center;
  border-left: 10px solid rgb(26, 114, 55);
  transition: all ease-in 2s;
}
.success-alert h4 {
  display: inline-flex;
  font-size: 1.1rem;
  font-weight: 500;
}

.success-alert i:nth-child(1) {
  background-color: rgb(56, 153, 90);
  padding: 0.5rem;
  color: white;
  border-radius: 50%;
}