@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
::selection {
  background-color: #fdb514;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

body {
  background: #dbe8f4;
}

a {
  text-decoration: none;
}

.main-container {
  background-color: #f3f5f7;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.capitalize-input {
  text-transform: capitalize;
}

#main-logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3rem;
  letter-spacing: 2px;
  display: block;
  text-align: center;
  color: white;
  margin-top: 0.5rem;
  font-family: "Poppins", sans-serif;
}

#main-logo span {
  font-weight: 500;
  color: #fdb514;
  font-family: "Poppins", sans-serif;
}

/* -----------------------left container ---------------- */
.left-container {
  background: #3c4048;
  padding: 0.5rem 1rem 2rem 1rem;
  min-width: 13vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  list-style: none;
  margin: 1rem 0;
  border-radius: 0.5rem;
  width: 100%;
  color: white;
}

.nav-links {
  width: 100%;
  padding: 1rem;
  display: inline-block;
  color: white;
}
.nav-links:hover {
  color: #fdb514;
}

.active {
  background-color: #fdb514;
}

.nav-active {
  color: black;
}
.nav-active:hover {
  color: black;
}

.logout-button {
  text-decoration: none;
  padding: 0.8rem;
  margin-bottom: 3rem;
  color: white;
  width: 100%;
  display: inline-block;
}

.logout-button:hover {
  background-color: #ff0032;
  border-radius: 0.5rem;
}

.nav-icon {
  margin-right: 1.5rem;
}

/* -----------------------right container ----------------  */
.right-container {
  width: 100%;
}

.navbar-name {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(182, 174, 174, 0.096);
  width: 100%;
}

.worker-name {
  font-size: 2rem;
  text-transform: capitalize;
}

#welcome-worker {
  font-size: 2.5rem;
  color: #3c4048;
  font-weight: 600;
  margin-right: 0.7rem;
}

.worker-id {
  font-size: 1rem;
  display: inline-block;
}

#id-number {
  font-weight: 600;
  margin-left: 0.2rem;
}

.dashboard-content {
  padding: 2rem;
  width: 90%;
  background-color: white;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 2.5rem;
  min-height: 82vh;
  padding: 2rem 4rem;
}

.success-alert {
  display: none;
  position: absolute;
  min-width: 15%;
  top: 0.5rem;
  right: 0;
  color: rgb(26, 114, 55);
  background-color: rgb(175, 231, 193);
  padding: 1rem;
  border-radius: 0.5rem 0 0 0.5rem;
  font-weight: 500;
  text-align: center;
  border-left: 10px solid rgb(26, 114, 55);
}
.success-alert h4 {
  display: inline-flex;
  font-weight: 500;
  font-size: 1.1rem;
}

.success-alert i:nth-child(1) {
  background-color: rgb(56, 153, 90);
  padding: 0.5rem;
  color: white;
  border-radius: 50%;
}

/* ------------------------------------------ active and pending leaves ----------------------------------- */
.pending-active-leave--heading {
  font-weight: 500;
}

.pending-active-leave-container {
  margin-top: 1.2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
}

.pending-active-leave-details {
  background-color: #f3f5f7;
  padding: 1rem;
  border-radius: 0.5rem;
}

.pending-active-leave-type {
  font-weight: 600;
}

.pending-active-leave-date,
.pending-active-leave-status {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0 0 0;
}

.active-leave-date span {
  opacity: 0.6;
}

/* ------------------------------------------ past leaves ----------------------------------- */
.past-leaves {
  border-top: 0.125rem solid #d9d9d9;
  padding-top: 1.4rem;
  margin: 2.2rem 0;
}

.past-leaves--heading {
  font-weight: 500;
}

.past-leaves-container {
  margin-top: 1.2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
}

.past-leave-details {
  background-color: #f3f5f7;
  padding: 1rem;
  border-radius: 0.5rem;
}

.past-leave-type {
  font-weight: 600;
}

.past-leave-date,
.past-leave-status {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0 0 0;
}

.past-leave-date span,
.pending-active-leave-date span {
  opacity: 0.6;
}

/* ------------------------------------------ leave status ----------------------------------- */
.pending-leave {
  color: #f99417;
  margin-right: 0.5rem;
}

.active-leave,
.approved-leave {
  color: #03c988;
  margin-right: 0.5rem;
}

.rejected-leave {
  color: #ff0032;
  margin-right: 0.5rem;
}