@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

body{
    background:#dbe8f4;
    padding: 8rem;
    margin: 0 auto;
}


a{
    text-decoration: none;
    color: black;
}

.main-container{
    border-radius: 1rem;
    height: fit-content;
    background-color: #f3f5f7;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

#main-logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
    letter-spacing: 2px;
    display: block;
    text-align: center;
    color: white;
}

#main-logo span{
    color:  #fdb514;
    
}

/* -----------------------right container ---------------- */

.left-container {
    background: #3c4048;
    border-radius: 1rem 0 0 1rem;
    padding: 0.5rem  1rem 2rem 1rem;
    width: fit-content;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}



li {
    list-style: none;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 100%;
    color: white;

}


.nav-links{
    width: 100%;
    padding: 1.1rem;
    display: inline-block;
    color: white;
    
}

.active{
    background-color: #fdb514;
}

.nav-active {
    color: black;
}




.logout-button {
    text-decoration: none;
    padding: 0.8rem;
    position: initial;
    margin-bottom: 3rem;
    color: white;
}

.logout-button:hover{
    color: red;
    opacity: 1;
}

.nav-icon {
    margin-right: 1.5rem;
    opacity: 0.7;
}


/* -----------------------right container ---------------- */


.right-container {
    flex-basis: 90%;
}


.welcome {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: rgba(182, 174, 174, 0.096);
    border-radius: 0 1rem 0 0;
}



.welcome-dashboard {
    font-size: 1.8rem;

}



.welcome span {
    color: #fdb514;
    font-weight: 600;
}


#welcome-worker{
    font-size: 2.5rem;
    margin-right: 0.7rem;
}

.worker-id {
    font-size: 0.9rem;
    opacity: 0.3;
    display: inline-block;
    margin-right: 0.2rem;
}

#id-number{
    font-weight: 500;
}


.dashboard-content{
    padding: 2rem;
}