<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style_sheets/forgot_reset_password.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />

    <title>ecoBees</title>
  </head>

  <body>
    <div class="main-container">
      <h1 id="ecobees-text-logo"><span>e</span>coB<span>ee</span>s</h1>

      <form class="forgot-password-form">
        <p class="form-description">Enter the email address associated with your account and we will send you a link to reset your password.</p>
        <label for="email-input-field" class="labels">
          Email
        </label>
        <input type="email" name="email-input-field" id="email-input-field" class="input-fields" required>
        <p class="error-field"></p>
        <button type="submit" class="submit-button">
          Continue
        </button>
      </form>

      <p class="no-account">Don't have an account? <a href="/" class="sign-up">Home Page</a></p>
    </div>
    <div class="success-alert alert-boxes">
      <i class="fa-solid fa-check alert-icon"></i>
      <span class="alert-description">
        <h4>Success:</h4>
        A reset link has been sent to your email!
      </span>
    </div>

    <img src="/images/bee_honeycomb.jpg" alt="Bee on Honey Comb" class="bee-honeycomb">

    <script src="/scripts/utility/client_forgot_password.js"></script>
  </body>
</html>
