<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style_sheets/forgot_reset_password.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />

    <title>ecoBees</title>
  </head>

  <body>
    <div class="main-container">
      <h1 id="ecobees-text-logo"><span>e</span>coB<span>ee</span>s</h1>

      <form class="reset-password-form">
        <p class="form-description reset-description">
          (Please enter your new password.)
        </p>

        <label for="password-input-field" class="labels"> New password </label>
        <p class="password-field">
          <input
            type="password"
            name="password-input-field"
            id="password-input-field"
            class="input-fields"
            required
          />
          <i class="fa-regular fa-eye-slash"></i>
        </p>
        <p class="error-field new-password-error"></p>

        <label for="password-confirm-input-field" class="labels">
          Confirm password
        </label>
        <input
          type="password"
          name="password-confirm-input-field"
          id="password-confirm-input-field"
          class="input-fields"
        />
        <p class="error-field confirm-password-error"></p>

        <button type="submit" class="submit-button">Save</button>
      </form>
    </div>
    <div class="success-alert alert-boxes">
      <i class="fa-solid fa-check alert-icon"></i>
      <span class="alert-description">
        <h4>Success:</h4>
        Your password has been reset seccessfully!
      </span>
    </div>

    <img
      src="/images/bee_honeycomb.jpg"
      alt="Bee on Honey Comb"
      class="bee-honeycomb"
    />

    <script src="/scripts/utility/client_reset_password.js"></script>
  </body>
</html>
