<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leave Tracking System</title>
    <link rel="stylesheet" href="/style_sheets/worker_leaveHistory.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
  </head>

  <body>
    <div>
      <div class="main-container">
        <div class="left-container">
          <nav>
            <h1 id="main-logo"><span>e</span>coB<span>ee</span>s</h1>
            <ul id="nav-ul ">
              <li>
                <a href="/worker_home" class="nav-links"
                  ><i class="fa-solid fa-house nav-icon"></i>Home</a
                >
              </li>

              <li>
                <a href="/worker_profile" class="nav-links"
                  ><i class="fa-solid fa-user nav-icon"></i>Profile</a
                >
              </li>

              <li>
                <a href="/worker_applyLeave" class="nav-links"
                  ><i class="fa-solid fa-right-from-bracket nav-icon"></i>Apply
                  for Leave</a
                >
              </li>

              <li class="active">
                <a href="/leave_history" class="nav-links nav-active"
                  ><i class="fa-solid fa-clock-rotate-left nav-icon"></i>Leave
                  History</a
                >
              </li>
            </ul>
          </nav>
          <div class="logout-button-container">
            <a href="/logoutWorker" class="logout-button"
              ><i
                class="fa-solid fa-arrow-right-from-bracket nav-icon"
                style="rotate: 180deg"
              ></i
              >Logout</a
            >
          </div>
        </div>
        <div class="right-container">
          <div class="navbar-name">
            <div>
              <p class="worker-name"></p>
            </div>

            <div class="navbar-id">
              <p class="worker-id">Worker ID:<span id="id-number"></span></p>
            </div>
          </div>

          <div class="dashboard-content">
            <div class="workers-leave-history">
              <!-- Pending and Active Leaves -->
              <div class="pending-active-leaves">
                <h2 class="pending-active-leave--heading">
                  Pending / Active Leaves
                </h2>
                <div class="pending-active-leave-container">
                  <div class="pending-active-leave-details">
                    <p class="pending-active-leave-type">Sick Leave</p>

                    <div class="pending-active-leave-date">
                      <span>01/23/2023 - 01/29/2023</span> <span> 7 days</span>
                    </div>

                    <div class="pending-active-leave-status">
                      <p>
                        <i class="fa-solid fa-circle pending-leave"></i>Pending
                      </p>
                    </div>
                  </div>

                  <div class="pending-active-leave-details">
                    <p class="pending-active-leave-type">Urgent Leave</p>

                    <div class="pending-active-leave-date">
                      <span>01/30/2023</span> <span> 1 day</span>
                    </div>

                    <div class="pending-active-leave-status">
                      <p>
                        <i class="fa-solid fa-circle pending-leave"></i>Pending
                      </p>
                    </div>
                  </div>

                  <div class="pending-active-leave-details">
                    <p class="pending-active-leave-type">Unpaid Leave</p>

                    <div class="pending-active-leave-date">
                      <span>01/23/2023 - 01/29/2023</span> <span> 7 days</span>
                    </div>

                    <div class="pending-active-leave-status">
                      <p>
                        <i class="fa-solid fa-circle active-leave"></i>Active
                        Leave
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Past Leaves  -->
              <div class="past-leaves">
                <h2 class="past-leaves--heading">Past Leaves</h2>

                <div class="past-leaves-container">
                  <div class="past-leave-details">
                    <p class="past-leave-type">Sick Leave</p>

                    <div class="past-leave-date">
                      <span>01/23/2023 - 01/29/2023</span> <span> 7 days</span>
                    </div>

                    <div class="past-leave-status">
                      <p>
                        <i class="fa-solid fa-circle approved-leave"></i
                        >Approved
                      </p>
                    </div>
                  </div>

                  <div class="past-leave-details">
                    <p class="past-leave-type">Urgent Leave</p>

                    <div class="past-leave-date">
                      <span>01/23/2023 - 01/29/2023</span> <span> 7 days</span>
                    </div>

                    <div class="past-leave-status">
                      <p>
                        <i class="fa-solid fa-circle rejected-leave"></i
                        >Rejected
                      </p>
                    </div>
                  </div>

                  <div class="past-leave-details">
                    <p class="past-leave-type">Unpaid Leave</p>

                    <div class="past-leave-date">
                      <span>01/23/2023 - 01/29/2023</span> <span> 7 days</span>
                    </div>

                    <div class="past-leave-status">
                      <p>
                        <i class="fa-solid fa-circle approved-leave"></i
                        >Approved
                      </p>
                    </div>
                  </div>

                  <div class="past-leave-details">
                    <p class="past-leave-type">Unpaid Leave</p>

                    <div class="past-leave-date">
                      <span>01/23/2023 - 01/29/2023</span> <span> 7 days</span>
                    </div>

                    <div class="past-leave-status">
                      <p>
                        <i class="fa-solid fa-circle rejected-leave"></i
                        >Rejected
                      </p>
                    </div>
                  </div>

                  <div class="past-leave-details">
                    <p class="past-leave-type">Unpaid Leave</p>

                    <div class="past-leave-date">
                      <span>01/23/2023 - 01/29/2023</span> <span> 7 days</span>
                    </div>

                    <div class="past-leave-status">
                      <p>
                        <i class="fa-solid fa-circle approved-leave"></i
                        >Approved
                      </p>
                    </div>
                  </div>

                  <div class="past-leave-details">
                    <p class="past-leave-type">Unpaid Leave</p>

                    <div class="past-leave-date">
                      <span>01/23/2023 - 01/29/2023</span> <span> 7 days</span>
                    </div>

                    <div class="past-leave-status">
                      <p>
                        <i class="fa-solid fa-circle rejected-leave"></i
                        >Rejected
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/scripts/worker/worker_primary.js"></script>
    <script src="/scripts/worker/worker_leaveHistory.js"></script>
  </body>
</html>
